In [1]:
import pymongo
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn["mydatabase"]
col=db["students"]

In [37]:
value=[{"Name":"Akhil","age":23,"Place":"Pta"},
       {"Name":"Jefin","age":29,"Place":"Pta"},
       {"Name":"Muhammed","age":21,"Place":"Ekm"}]
col.insert_many(value)

In [38]:
fd=col.find({"$or":[{"age":21},{"Place":"Pta"}]},{"_id":0})
for i in fd:
    print(i)

{'Name': 'Akhil', 'age': 23, 'Place': 'Pta'}
{'Name': 'Jefin', 'age': 29, 'Place': 'Pta'}
{'Name': 'Muhammed', 'age': 21, 'Place': 'Ekm'}

In [29]:
con={"Place":"Pta"}
newvalue={"$set":{"age":"Unable to disclose"}}
col.update_one(con,newvalue)

In [31]:
col.delete_one({"age":21})

In [35]:
col.delete_many({})

In [ ]:
#where age greater than 20
fd=col.find({"age":{"$gt":20}},{"_id":0})
for i in fd:
    print(i)

{'Name': 'Akhil', 'age': 23, 'Place': 'Pta'}
{'Name': 'Jefin', 'age': 29, 'Place': 'Pta'}
{'Name': 'Muhammed', 'age': 21, 'Place': 'Ekm'}

In [ ]:
#where name starts with M - [starting - ^m, ending - m$]
fd=col.find({"Name":{"$regex":"^M"}},{"_id":0})
for i in fd:
    print(i)

{'Name': 'Muhammed', 'age': 21, 'Place': 'Ekm'}